<% if (typeof live !== 'undefined') { %>
  <div class="content">
    <h4>
      <img src="./img/streams.svg" width="103" />
    </h4>
    <div class="list">
      <% Object.keys(live).forEach(streamKey => { const stream = live[streamKey]; %>
        <ul>
          <li><strong>Name:</strong> <code><%= stream.publisher.stream %></code> (<%= stream.subscribers.length %> clients connected)</li>
          <li><strong>Traffic:</strong> <%= tools.filesize(stream.publisher.bytes) %></li>
          <li><strong>Audio:</strong> <% if (stream.publisher.audio) { %><%= stream.publisher.audio.codec %> <%= stream.publisher.audio.samplerate / 1000 %>khz, <%= stream.publisher.audio.channels %> channels<% } else { %>None<% } %></li>
          <li><strong>Video:</strong> <%= stream.publisher.video.codec %> <%= [stream.publisher.video.width, stream.publisher.video.height].join('x') %> <%= stream.publisher.video.fps %>fps</li>
          <li><strong>URL:</strong>
            <div class="copyable no-title">
              <code>rtmp://127.0.0.1/live/<%= streamKey %></code>
              <a href="#" class="copy" title="Copy">
                <img src="./img/copy.svg" />
              </a>
            </div>
          </li>
        </ul>
      <% }) %>
    </div>
  </div>
<% } else { %>
  <div class="empty-state">
    <h2>No Live Streams Currently.</h2>
    <section>
      <div class="copyable" data-title="RTMP URL">
        <code><%= rtmpUri %></code>
        <a href="#" class="copy" title="Copy">
          <img src="./img/copy.svg" />
        </a>
      </div>
      <div class="copyable" data-title="Stream Key">
        <code><%= randomStreamKey %></code>
        <a href="#" class="copy" title="Copy">
          <img src="./img/copy.svg" />
        </a>
      </div>
    </section>
  </div>
<% } %>
